{namespace spguestbook=Tx_SpGuestbook_ViewHelpers}

<f:format.html>{captcha.message}</f:format.html>
<label for="captcha">
	<f:translate key="captcha" /> <span class="required"><f:translate key="required" /></span>
</label><br />
	<f:form.textfield name="captcha" required="1" /><br />
<div class="captcha-image">
	<spguestbook:html>{captcha.image}</spguestbook:html>
</div>
<div class="captcha-cant-read">
	<spguestbook:html>{captcha.cantRead}</spguestbook:html>
</div>
<div class="captcha-accessible">
	<spguestbook:html>{captcha.accessible}</spguestbook:html>
</div>